<!DOCTYPE html>
<html lang="en">
<head>
    <title>Compose</title>

    <%- include("partials/boilerplate.ejs") %>

    <link rel="stylesheet" href="/css/compose.css" type="text/css" >
</head>

<body>
    <%- include("partials/side-nav.ejs") %>
    <%- include("partials/menu-button.ejs") %>

    <section class="compose-form-container">
        <div class="bgd compose-form-bgd">
            <h1 class="page-title">Compose</h1>
            <form class="compose-form" action="/compose" method="post">
                <h3 class="form-title">Ready to write?</h3>
                <div class="drop-down-container">
                    <label class="form-label form-item" for="recipe-edit-selector">Choose a Recipe:</label>
                    <select id="recipe-edit-selector" class="input short-input form-item" name="editRecipe" onChange="getRecipe(this.value)">
                        <option value="New Recipe">New Recipe</option>
                        <% recipeTitleList.forEach(recipeTitle => { %>
                            <option value="<%= recipeTitle %>"><%= recipeTitle %></option>
                        <% }); %>
                    </select>
                </div>
    
                <hr class="form-seperator">   
        
                <div class="short-input-row">
                    <div class="short-input-container">
                        <label class="form-label short-input-label form-item" for="food-name">Food Name:</label>
                        <input id="food-name" class="input short-input" type="text" name="foodName">
                    </div>
    
                    <div class="short-input-container">
                        <label class="form-label short-input-label form-item" for="title">Title:</label>
                        <input id="title" class="input short-input" type="text" name="title">
                    </div>
                </div>
    
                <label class="form-label form-item" for="body">Text:</label>
                <textarea id="body" class="input form-item long-input" name="body" cols="30" rows="10"></textarea>
        
                <div class="short-input-row">
                    <div class="short-input-container">
                        <label class="form-label short-input-label form-item" for="quote">Quote:</label>
                        <input id="quote" class="input short-input form-item" type="text" name="quote">
                    </div>
                    <div class="short-input-container">
                        <label class="form-label short-input-label form-item" for="quote-author">Quote Author:</label>
                        <input id="quote-author" class="input short-input" type="text" name="quoteAuthor">
                    </div>
                </div>
    
                <label class="form-label form-item" for="ingredients-imperial">Ingredients List (imperial):</label>
                <textarea id="ingredients-imperial" class="input form-item long-input" name="ingredientsImperial" cols="30" rows="10"></textarea>
                
                <label class="form-label form-item" for="ingredients-metric">Ingredients List (metric):</label>
                <textarea id="ingredients-metric" class="input form-item long-input" name="ingredientsMetric" cols="30" rows="10"></textarea>
        
                <label class="form-label form-item" for="directions">Recipe:</label>
                <textarea id="directions" class="input form-item long-input" name="directions" cols="30" rows="10"></textarea>
        
                <button class="form-item submit-btn" type="submit">Save</button>
        
            </form>
        </div>
       
    </section>
    
    <%- include("partials/footer.ejs") %>

    <script src="/js/side-nav.js"></script>
    <script src="/js/compose.js"></script>
</body>


</html>