<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gallery</title>

    <%- include("partials/boilerplate.ejs") %>

    <link rel="stylesheet" href="/css/gallery.css" type="text/css" >
</head>

<body>
    <%- include("partials/side-nav.ejs") %>
    <%- include("partials/menu-button.ejs") %>

    <section class="bgd gallery-bgd">

        <h1 class="page-title">Gallery</h1>
        <div class="gallery-container">
            <% photos.forEach(photo => { %>
                <button class="gallery-img-container" onClick="openModal(this.firstElementChild.src)">
                    <img class="gallery-img" src="/assets/recipe-imgs/<%= photo %>" alt="<%= photo %>">
                </button>
            <% }); %>
        </div>

        <dialog id="modal">
            <img id="modal-img" src="" alt="">
            <button id="modalClose" onClick="closeModal()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m249-207-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/></svg>
            </button>
        </dialog>

    </section>

    <%- include("partials/footer.ejs") %>

    <script src="/js/side-nav.js"></script>
    <script src="/js/gallery.js"></script>
</body>