<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bake Me</title>

        <%- include("partials/boilerplate.ejs") %>

        <link rel="stylesheet" href="/css/recipe-header.css" type="text/css" >
        <link rel="stylesheet" href="/css/recipe-story.css" type="text/css" >
        <link rel="stylesheet" href="/css/recipe-list.css" type="text/css" >
    </head>

    <body>
        
        <%- include("partials/side-nav.ejs") %>
        <%- include("partials/menu-button.ejs") %>

        <section class="hero">
            <img class="donut" src="/assets/DONUT.png" alt="DONUT">
            
            <h1 class="hero-title hero-text">Bake Me Like One of Your Russian Girls</h1>
            
            <h3 class="hero-subtitle hero-text">One recipe blog to rule them all.</h3>
            
            <svg class="scroll-directive" width="52" height="12" viewBox="0 0 52 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L26 11L51 1" stroke="#442727"/>
            </svg>
        </section>
        
        <section class="empty"></section>

        <section class="recipe">
            <%- include("partials/recipe-header.ejs") %>
            <%- include("partials/recipe-story.ejs") %>
            <%- include("partials/recipe-list.ejs") %>
        </section>

        <%- include("partials/footer.ejs") %>

        <!-- Script Files -->
        <script src="/js/index.js"></script>
        <script src="/js/side-nav.js"></script>
        <script src="/js/recipe-list.js"></script>
    </body>

</html>