<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>

    <%- include("partials/boilerplate.ejs") %>

    <link rel="stylesheet" href="/css/login.css" type="text/css" >
</head>

<body>
    <%- include("partials/side-nav.ejs") %>
    <%- include("partials/menu-button.ejs") %>

    <section class="bgd login-form-bgd">
        <h1 class="page-title">Backstage</h1>



            <form class="login-form" action="/login" method="post">
                <h3 class="form-title">Password:</h3>
                <input id="username" value="admin" hidden class="input" type="text" name="username">
                <% if (messages.error) { %>
                    <p id="wrong-password-alert"><%= messages.error %></p>
                <% } %>
                <input id="password" class="input" type="password" name="password" required>
                <button class="submit-btn" type="submit">Login</button>
            </form>
    </section>

    <%- include("partials/footer.ejs") %>

    <script src="/js/side-nav.js"></script>
    <!-- <script src="/js/login.js"></script> -->

</body>


</html>