<!DOCTYPE html>
<html lang="en">
<head>
    <title>Play</title>

    <%- include("partials/boilerplate.ejs") %>

    <link rel="stylesheet" href="/css/play.css" type="text/css" >
</head>

<body>
    <%- include("partials/side-nav.ejs") %>
    <%- include("partials/menu-button.ejs") %>

    <section class="bgd game">
        <h1 class="page-title">Play</h1>
        <div class="game-body">
            <div id="game-wrapper">
                <canvas id="game-canvas"  width="360" height="720">
                </canvas>
                <h3 id="game-over-text"></h3>
                <h5 id="final-score-text"></h5>
                <form action="/play" method="post" id="hs-form">
                    <label id="hs-form-label" for="hs-form-name">Enter Your Name:</label>
                    <br>
                    <input id="hs-form-name" type="text" name="hsName">
                    <button id="hs-form-btn" type="submit">Submit</button>
                    <input type="hidden" id="hs-form-score" name="hsScore">
                </form>
                <button id="start-btn" onclick="startGame()">Start</button>
            </div>
            <div class="game-info-container">
                <h3 class="game-title">Kitchen Catcher</h3>
                <p class="game-description">Collect as many ingredients as you can, but avoid the dangerous items!</p>
                <table class="hi-score-table">
                    <thead>
                        <th class="hi-score-title" colspan="2">High Scores</th>
                        
                    </thead>
                    <tbody>
                        <% scoresList.forEach(score => { %>
                            <tr class="hi-score">
                                <td class="hi-score-name"><%= score.name %></td>
                                <td class="hi-score-score"><%= score.score %></td>
                            </tr>
                        <% }); %>

                    </tbody>
                </table>
            </div>
        </div>



    </section>

    <%- include("partials/footer.ejs") %>

    <script>
        const scoresList = <%- JSON.stringify(scoresList) %>;
        var currentHighScore5;
        if (scoresList.length == 0) {
            currentHighScore5 = 0;
        } else {
            currentHighScore5 = scoresList[scoresList.length - 1].score;

        }

    </script>
    <script src="/js/side-nav.js"></script>
    <script src="/js/play.js"></script>
</body>


</html>