<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>

    <!-- Styles and Scripts -->
    <link rel="stylesheet" href="/css/styles.css" type="text/css" >
    <!-- <link rel="stylesheet" href="/css/recipe-header.css" type="text/css" > -->
    <!-- <link rel="stylesheet" href="/css/recipe-story.css" type="text/css" > -->
    <!-- <link rel="stylesheet" href="/css/recipe-list.css" type="text/css" > -->
    <link rel="stylesheet" href="/css/footer.css" type="text/css" >
    <link rel="stylesheet" href="/css/side-nav.css" type="text/css" >
    <!-- <link rel="stylesheet" href="/css/hero.css" type="text/css" > -->
    <link rel="stylesheet" href="/css/menu-button.css" type="text/css" >
    <link rel="stylesheet" href="/css/play.css" type="text/css" >
    <!-- <script src="/js/index.js"></script> -->
    <script src="/js/menu-button.js"></script>
    <script src="/js/side-nav.js"></script>


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>
    <%- include("partials/side-nav.ejs") %>
    <%- include("partials/menu-button.ejs") %>

    <section class="game">
        <h1 class="play-title">Play</h1>
        <div class="game-body">
            <div id="game-wrapper">
                <canvas id="game-canvas"  width="360" height="720">
                </canvas>
                <h3 id="game-over-text"></h3>
                <h5 id="final-score-text"></h5>
                <form action="/play" method="post" id="hs-form">
                    <label id="hs-form-label" for="hs-form-name">Enter Your Name:</label>
                    <br>
                    <input id="hs-form-name" type="text" name="hsName">
                    <button id="hs-form-btn" type="submit">Submit</button>
                    <input type="hidden" id="hs-form-score" name="hsScore">
                </form>
                <button id="start-btn" onclick="startGame()">Start</button>
            </div>
            <div class="game-info-container">
                <h3 class="game-title">Kitchen Catcher</h3>
                <p class="game-description">Collect as many ingredients as you can, but avoid the dangerous items!</p>
                <table class="hi-score-table">
                    <thead>
                        <th class="hi-score-title" colspan="2">High Scores</th>
                        
                    </thead>
                    <tbody>
                        <% scoresList.forEach(score => { %>
                            <tr class="hi-score">
                                <td><%= score.name %></td>
                                <td><%= score.score %></td>
                            </tr>
                        <% }); %>

                    </tbody>
                </table>
            </div>
        </div>



    </section>

    <%- include("partials/footer.ejs") %>
    <script>
        const scoresList = <%- JSON.stringify(scoresList) %>;
        var currentHighScore5;
        if (scoresList.length == 0) {
            currentHighScore5 = 0;
        } else {
            currentHighScore5 = scoresList[scoresList.length - 1].score;

        }

    </script>
    <script src="/js/play.js"></script>
</body>


</html>