<!DOCTYPE html>
<html lang="en">
<head>
    <title>Play</title>

    <%- include("partials/boilerplate.ejs") %>

    <link rel="stylesheet" href="/css/play.css" type="text/css" >
</head>

<body>
    <%- include("partials/side-nav.ejs") %>
    <%- include("partials/menu-button.ejs") %>

    <section class="bgd game-bgd">
        <h1 class="page-title">Play</h1>
        <div class="game-body">

            <div id="game-wrapper">
                <h3 id="kitchen-catcher" class="start-screen">Kitchen Catcher</h3>
                <svg id="windfall" class="start-screen" width="71" height="162" viewBox="0 0 71 162" xmlns="http://www.w3.org/2000/svg">
                    <line x1="0.5" x2="0.5" y2="135.015"/>
                    <line x1="35.5" y1="26.9846" x2="35.5" y2="162"/>
                    <line x1="70.5" x2="70.5" y2="135.015"/>
                </svg>
                <svg id="milk" class="start-screen" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_219_104)">
                    <path d="M130.833 30.303L160 46.4646V178.836L99.5832 200L43.3333 178.836V46.4646L74.4444 12.1212V0L130.833 18.1818V30.303Z" fill="#F8F8F8"/>
                    <path d="M43.3333 46.4646L99.5832 66.6667M43.3333 46.4646L74.4444 12.1212M43.3333 46.4646V178.836L99.5832 200M99.5832 66.6667L160 46.4646M99.5832 66.6667L130.833 30.303M99.5832 66.6667V200M160 46.4646L130.833 30.303M160 46.4646V178.836L99.5832 200M130.833 30.303L74.4444 12.1212M130.833 30.303V18.1818L74.4444 0V12.1212" stroke="black" stroke-width="2"/>
                    <path d="M54 100V80L57 90L60 82V102" stroke="black" stroke-width="2"/>
                    <path d="M66 105V86" stroke="black" stroke-width="2"/>
                    <path d="M74 88V106L80 108" stroke="black" stroke-width="2"/>
                    <path d="M84 90V99.9M84 109.8V99.9M84 99.9L90 94.4M84 99.9L89 112" stroke="black" stroke-width="2"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_219_104">
                    <rect width="200" height="200" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
                    
                <svg id="mixing-bowl" class="start-screen" viewBox="0 0 240 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_219_103)">
                    <path opacity="0.3" d="M15.4412 7.11816H224.559" stroke="black" stroke-width="2"/>
                    <path d="M2.00019 2H238V8H224C222.451 41.1655 197.929 106 118 106C38.0707 106 17.549 41.1655 16 8H2L2.00019 2Z" fill="#D9D9D9"/>
                    <path d="M224 8H238V2H2.00019L2 8H16M224 8C222.451 41.1655 197.929 106 118 106C38.0707 106 17.549 41.1655 16 8M224 8H16" stroke="black" stroke-width="3"/>
                    <path d="M210.617 17.8746C210.617 24.1491 207.829 39.3873 196.676 50.1437" stroke="black" stroke-width="3"/>
                    <path d="M150 120V108H120H89.9998V120H150Z" fill="#D9D9D9" stroke="black" stroke-width="3"/>
                    <path d="M192.029 55.5218C190.48 58.2109 185.523 64.6647 178.088 68.9672" stroke="black" stroke-width="3"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_219_103">
                    <rect width="240" height="120" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
                
                <canvas id="game-canvas-bgd" width="360" height="720">
                </canvas>
                <canvas id="game-canvas"  width="360" height="720">
                </canvas>

                <h3 id="game-over-text" class="end-screen"></h3>
                <h5 id="final-score-text" class="end-screen"></h5>
                <svg id="knife1" class="end-screen" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_219_104)">
                    <path d="M28.6842 200L10 181.316L62.3158 129L81 147.684L28.6842 200Z" fill="black" stroke="black"/>
                    <path d="M61.4287 127.273L105.51 170.909C142.245 134.545 184.49 42.4242 190 0L61.4287 127.273Z" fill="#ABAAAA" stroke="black"/>
                    <ellipse cx="30.2042" cy="180" rx="3.67347" ry="3.63636" fill="#ABAAAA"/>
                    <ellipse cx="44.8981" cy="165.455" rx="3.67347" ry="3.63636" fill="#ABAAAA"/>
                    <ellipse cx="59.5919" cy="150.909" rx="3.67347" ry="3.63636" fill="#ABAAAA"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_219_104">
                    <rect width="200" height="200" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
                <svg id="knife2" class="end-screen" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_219_104)">
                    <path d="M28.6842 200L10 181.316L62.3158 129L81 147.684L28.6842 200Z" fill="black" stroke="black"/>
                    <path d="M61.4287 127.273L105.51 170.909C142.245 134.545 184.49 42.4242 190 0L61.4287 127.273Z" fill="#ABAAAA" stroke="black"/>
                    <ellipse cx="30.2042" cy="180" rx="3.67347" ry="3.63636" fill="#ABAAAA"/>
                    <ellipse cx="44.8981" cy="165.455" rx="3.67347" ry="3.63636" fill="#ABAAAA"/>
                    <ellipse cx="59.5919" cy="150.909" rx="3.67347" ry="3.63636" fill="#ABAAAA"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_219_104">
                    <rect width="200" height="200" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
                    
                <form action="/play" method="post" id="hs-form" class="end-screen">
                    <label id="hs-form-label" for="hs-form-name">Enter Your Name:</label>
                    <br>
                    <input id="hs-form-name" type="text" name="hsName">
                    <button id="hs-form-btn" type="submit">Submit</button>
                    <input type="hidden" id="hs-form-score" name="hsScore">
                </form>
                <svg id="crown" class="end-screen" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_219_104)">
                    <path d="M0 62C8.49951 115.893 9.56981 146.107 0 200C78.7998 183.456 122.574 184.002 200 200C187.205 146.108 189.218 115.892 200 62L166.667 124.443L133.333 62L100 124.443L66.6667 62L33.3333 124.443L0 62Z" fill="#C6A120" stroke="black"/>
                    <circle cx="33.5" cy="166.5" r="10.5" fill="#03018E"/>
                    <circle cx="99.5" cy="159.5" r="10.5" fill="#3B8E3F"/>
                    <circle cx="166.5" cy="166.5" r="10.5" fill="#03018E"/>
                    <circle cx="66.5" cy="162.5" r="4.5" fill="#9D0404"/>
                    <circle cx="133.5" cy="162.5" r="4.5" fill="#9D0404"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_219_104">
                    <rect width="200" height="200" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
                    
                <button id="start-btn" class="start-screen" onclick="startGame()">Start</button>
            </div>

            <div id="small-screen-alert">
                <h3 id="small-screen-alert-text">Sorry! This game is currently only available on larger, non-touchscreen devices.</h3>
            </div>
            <div class="game-info-container">
                <h3 class="game-title">Kitchen Catcher</h3>
                <p class="game-description">Catch as many ingredients with your mixing bowl as you can, but avoid the dangerous items!</p>
                <p class="game-description">When you're ready, press the "Start" button to begin. Move the bowl from side to side with your cursor to collect items as they fall. The longer you play, the more difficult it gets, and only the best will have their scores listed below!</p>
                <p class="game-description">Programming, artwork, music, and sound effects by Seth Crail.</p>

                <table class="hi-score-table">
                    <thead>
                        <th class="hi-score-title" colspan="2">High Scores</th>
                        
                    </thead>
                    <tbody>
                        <% scoresList.forEach(score => { %>
                            <tr class="hi-score">
                                <td class="hi-score-name"><%= score.name %></td>
                                <td class="hi-score-score"><%= score.score %></td>
                            </tr>
                        <% }); %>

                    </tbody>
                </table>
            </div>
        </div>



    </section>

    <%- include("partials/footer.ejs") %>

    <script>
        const scoresList = <%- JSON.stringify(scoresList) %>;
        var currentHighScore5;
        if (scoresList.length == 0) {
            currentHighScore5 = 0;
        } else {
            currentHighScore5 = scoresList[scoresList.length - 1].score;

        }

    </script>
    <script src="/js/side-nav.js"></script>
    <script src="/js/howler.js"></script>
    <script src="/assets/game/audio/loopify.js"></script>
    <script src="/js/play.js"></script>
</body>


</html>