<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Recipes</title>

        <%- include("partials/boilerplate.ejs") %>

        <link rel="stylesheet" href="/css/recipes.css" type="text/css" >
    </head>

    <body>
        <%- include("partials/side-nav.ejs") %>
        <%- include("partials/menu-button.ejs") %>

        <section class="bgd rl-container">
            <h1 class="page-title">Recipes</h1>
            <% for (i = 0; i < recipeList.length; i++) { %>
                <a href="recipes/<%= recipeList[i].photoTitle %>" class="rl-recipe-container">
                    <h3 class="rl-recipe-title"><%= recipeList[i].foodName %></h3>
                    <div class="rl-recipe-img-container">
                        <img class="rl-img" src="/assets/recipe-imgs/<%= recipeList[i].photoTitle %>.jpeg"" alt="">
                    </div>
                </a>
            <% }; %>

        </section>

        <%- include("partials/footer.ejs") %>


        <script src="/js/side-nav.js"></script>
    </body>

</html>