<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Recipe</title>

        <%- include("partials/boilerplate.ejs") %>

        <link rel="stylesheet" href="/css/recipe-header.css" type="text/css" >
        <link rel="stylesheet" href="/css/recipe-story.css" type="text/css" >
        <link rel="stylesheet" href="/css/recipe-list.css" type="text/css" >
    </head>

    <body>
        
        <%- include("partials/side-nav.ejs") %>
        <%- include("partials/menu-button.ejs") %>

        <section class="recipe">
            <%- include("partials/recipe-header.ejs") %>
            <%- include("partials/recipe-story.ejs") %>
            <%- include("partials/recipe-list.ejs") %>
        </section>

        <%- include("partials/footer.ejs") %>

        <script src="/js/recipe-list.js"></script>
        <script src="/js/index.js"></script>
        <script src="/js/recipe.js"></script>
        <script src="/js/side-nav.js"></script>
    </body>

</html>